@import './../utils/const.scss';

.breadcrumbs {
    &-show {
        position: absolute;
        width: 100%;
        max-width: 100%;
        top: 10px;
    }
    &-items {
        display: flex;
    } 
    &-item {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: $gray-color4;
        position: relative;
        margin-right: 20px;
        &::after {
            content: "/";
            color: $dark-green;
            position: absolute;
            right: -13px;
        }
        &:last-child {
            font-weight: 500;
            &::after {
                content: "";
                color: $dark-green;
            }   
        }
    }
}