<footer class="footer">
    <div class="container">
        <div class="footer-container">
            <div class="footer-left">
                <div class="footer-logo">
                    <img src="./../img/logo.png" alt="#" />
                </div>
                <p class="footer-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
            <div class="footer-right">
                <div class="footer-social">
                    <p class="footer-right__title">Социальные сети</p>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="./../img/instagram.svg" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="./../img/twitter.svg" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="./../img/facebook.svg" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="./../img/vk.svg" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-contact">
                    <p class="footer-right__title">Контакты</p>
                    <ul>
                        <li><span>Адрес:</span> Нур Султан, проспект Мангелик Ел, 8</li>
                        <li><span>Email:</span> info@example.com</li>
                        <li><span>Телефон:</span> +7 700 777 77 77</li>
                    </ul>
                </div>
                <div class="footer-top">
                    <img src="./../img/top.svg" alt=""/>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="./../files/jQuery/jQuery.js"></script>
<script src="./../files/slick/slick.js"></script>
<script src="./../js/app.min.js"></script>