<header class="header">
    <div class="container">
        <div class="header-wrapper">
            <div class="header-left">
                <div class="header-icon__left">
                    <a href="./../index.html" class="header-logo">
                        <img src="./../img/logo.png" alt=""/>
                    </a>
                </div>
                <div class="header-icon__right">
                    <div class="header-various">
                        <div class="header-vari">
                            <img src="./../img/nases.png" alt="" />
                        </div>
                        <div class="header-kz">
                            <div class="header-kz__icon">
                                <img src="./../img/kz.png" alt=""/>
                            </div>
                            <p class="header-kz__text">
                                Министерство сельского хозяйства Республики Казахстан
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-right">
                <div class="header-user">
                    <div class="header-user__click">
                        <p class="header-user__name">
                            Касымбетов А.
                        </p>
                        <div class="header-user__ava">
                            <img src="./../img/ava1.png" class="header-user__img" alt=""/>
                        </div>
                    </div>
                    <div class="header-menu">
                        <ul>
                            <li class="header-menu__item"><a href="./../worksheet.html">Профиль</a></li>
                            <li class="header-menu__item"><a href="./../myWorks.html">Мои работы</a></li>
                            <li class="header-menu__item"><a href="./../favorites.html">Избранное</a></li>
                            <li class="header-menu__item"><a href="#" id="mySizeChart">Выйти</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header-language">
                    <div class="my-select">
                        <div class="selectBtn" data-type="firstOption">РУС</div>
                        <div class="selectDropdown">
                            <div class="my-option" data-type="ru">РУС</div>
                            <div class="my-option" data-type="kz">КАЗ</div>
                            <div class="my-option" data-type="en">ENG</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="none-menu">

            </div>
        </div>
    </div>
</header>
<div id="mySizeChartModal" class="ebcf_modal">
    <div class="ebcf_modal-content">
        <span class="ebcf_close">
            <img src="./img/closeModal.svg" alt="" />
        </span>
        <div class="modal-auths__open">
            <p class="modal-title">Авторизация</p>
            <div class="modal-forms mt-24">
                <div class="modal-form">
                    <p class="modal-text">Email</p>
                    <input type="text" placeholder="E-mail" class="modal-input" />
                </div>
                <div class="modal-form">
                    <p class="modal-text">Email</p>
                    <input type="text" placeholder="E-mail" class="modal-input" />
                </div>
                <div class="modal-combo">
                    <div class="modal-left">
                        <p class="modal-reset">Забыли пароль?</p>
                        <p class="modal-reg">Зарегистрироваться</p>
                    </div>
                    <div class="modal-right">
                        <div class="modal-auth__btn">Войти</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-registration">
            <p class="modal-title">Создать аккаунт</p>
            <div class="modal-auths mt-24">
                <div class="modal-form">
                    <p class="modal-text">ФИО</p>
                    <input type="text" placeholder="Ваше фамилия, имя и отчество" class="modal-input" />
                </div>
                <div class="modal-form">
                    <p class="modal-text">Почта</p>
                    <input type="text" placeholder="Ваша почта" class="modal-input" />
                </div>
                <div class="modal-form">
                    <p class="modal-text">Пароль</p>
                    <input type="text" placeholder="Придумайте пароль" class="modal-input" />
                </div>
                <div class="modal-form">
                    <p class="modal-text">Подтвердите пароль</p>
                    <input type="text" placeholder="Подтвердите пароль" class="modal-input" />
                </div>
                <div class="modal-type">
                    <div class="modal-type__left">
                        <label>
                            <input type="checkbox" class="default__check" checked="checked" value="1" />
                            <span class="custom__check"></span>
                            <span class="modal-type__text">Я - агроконсультант</span>
                        </label>
                    </div>
                    <div class="modal-type__right">
                        <label>
                            <input type="checkbox" class="default__check" checked="checked" value="1" />
                            <span class="custom__check"></span>
                            <span class="modal-type__text">Я - автор статей</span>
                        </label>
                    </div>
                </div>
                <div class="modal-wrapper">
                    <div class="modal-auth__btn">
                        Зарегистрироваться
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div> <!-- modal content / -->